<a href="https://colab.research.google.com/github/KetanSonje/Python-II/blob/main/Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Section A

In [1]:
#1
def evendiv(x,y,z):
    return(sum(list([i for i in range(x, y+1) if i%z==0])))

print(evendiv(1,10,2))

30

In [2]:
#2
def check(s):
    x=eval(s)
    if x:
        return True
    else:
     return False 

print(check("2 < 7 < 15"))
print(check("30 > 45 > 21 > 9"))
print(check("4 < 7 < 8< 12 > 2"))

True
False
True

In [3]:
#3
print("Enter the String: ")
str = input()

print("Enter a character: ")
char = input()

newstr = ""
for i in range(len(str)):
    if str[i]=='a' or str[i]=='e' or str[i]=='i' or str[i]=='o' or str[i]=='u':
        newstr = newstr + char
    else:
        newstr = newstr + str[i]

print("\nOriginal String:", str)
print("New String:", newstr)

Enter the String:
ketan
Enter a character:
a

Original String: ketan
New String: katan

In [5]:
#4
def factorial(n):
      
    if n == 0:
        return 1
     
    return n * factorial(n-1)
  

num = 15;
print("Factorial of", num, "is",
factorial(num))

Factorial of 15 is 1307674368000

In [6]:
#5
def hammingDist(str1, str2):
    i = 0
    count = 0
 
    while(i < len(str1)):
        if(str1[i] != str2[i]):
            count += 1
        i += 1
    return count
 

str1 = "abcde"
str2 = "cdefg"
 

print(hammingDist(str1, str2))

5

#Section B

In [7]:
#1
l = [1,2,'a','b']

def filter_list(l):
    new_list = []
    for x in l:
        if type(x) == int:
            new_list.append(x)
    return new_list

print(filter_list(l))

[1, 2]

In [8]:
#2
def string(str1):

    rstr1 = ''
    index = len(str1)
    while index > 0:
        rstr1 += str1[ index - 1 ]
        index = index - 1
    return rstr1
print(string('Ketan').swapcase())

NATEk

In [10]:
#3
list=[1,6,8,9,5,4,"ketan","car","class",69]
first=list[0]
middle=list[1:-1]
last=list[-1]
print("first =",first ,"middle =",middle,"last = ",last)

first = 1 middle = [6, 8, 9, 5, 4, 'ketan', 'car', 'class'] last =  69

In [11]:
#4
def recur_factorial(n):
   if n == 1:
       return n
   else:
       return n*recur_factorial(n-1)

num = int(input("Enter the number : "))


if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num, "is", recur_factorial(num))

Enter the number : 8
The factorial of 8 is 40320

In [12]:
#5
def move_to_end(lst,el):
    lst.append(lst.pop(lst.index(el)))
    return lst

print(move_to_end([1, 3, 2, 4, 4, 1], 1))
print(move_to_end([7, 8, 9, 1, 2, 3, 4], 9))
print(move_to_end(["a","a","a","b"], "a"))

[3, 2, 4, 4, 1, 1]
[7, 8, 1, 2, 3, 4, 9]
['a', 'a', 'b', 'a']

#Section C

In [13]:
#1
def multichar(text, n):
    return ''.join([x * n for x in text])
multichar("Ketan",2)

'KKeettaann'

In [14]:
#2
def reverse(arg):
	if isinstance(arg, bool):
		return not arg
	else:
		return('boolean expected')

def reverse(arg=None):
	return not arg if type(arg) == bool else "boolean expected"

print(reverse(True)) 
print(reverse(False)) 
print(reverse(0)) 
print(reverse(None))

False
True
boolean expected
boolean expected

In [15]:
#3
def fn(a):
    res = 0.5
    for i in range(a):
        res *= 2
    
    return res / 1000 
fn(1)

0.001

In [19]:
#4
test_str = 'KetanSonje'
 

print("The original string is : " + str(test_str))
 

res = [idx for idx in range(len(test_str)) if test_str[idx].isupper()]
 

print("Uppercase elements indices : " + str(res))

In [20]:
#5

listl=[i for i in range (4) if(i%2==0)]

print(listl)

[0, 2]

#Section D

In [21]:
#1
l = [6,9,4,'ketan','sonje']
output = [x for x in l if type(x) != str]
print(output)

[6, 9, 4, 'ketan', 'sonje']

In [22]:
#3
import math
pi = math.pi
def volume(r, h):
    return (1 / 3) * pi * r * r * h
def surfacearea(r, s):
    return pi * r * s + pi * r * r
radius = float(2)
height = float(3)
slat_height = float(5)
print( "Volume Of Cone : ", volume(radius, height) )
print( "Surface Area Of Cone : ", surfacearea(radius, slat_height) )

Volume Of Cone :  12.566370614359172
Surface Area Of Cone :  43.982297150257104

In [23]:
#5
def missing_num(lst):

   for n in range(1,11):

       if n not in lst:

           print(n)

lst = (1,3,4,5,6,7,8,9,10)

missing_num(lst)

2